.card {
 font-family: arial;
 font-size: 20px;
 text-align: center;
 color: black;
}

.nightMode .card {
 color: white;
}

.search_result {
 color: blue;
 font-size: 24px;
}

.nightMode .search_result {
 color: yellow;
}

.otherTranslations {
 color: #a00;
}

.nightMode .otherTranslations {
    color: #f4f
}

.mainTranslation {
 font-size: 30px;
 color: #00a;
}

.nightMode .mainTranslation {
    color: #ff4
}

.contextPhrase {
    font-style: bold;
}

.contextPhraseTranslation {
    font-style: bold;
}


.overview {
 color: #222;
}

.nightMode .overview {
 color: #ddd;
}
