.card {
 font-family: arial;
 font-size: 20px;
 text-align: center;
 color: black;
}

.nightMode .card {
 color: white;
}

.search_result {
 color: blue;
}

.nightMode .search_result {
 color: yellow;
}

.title {
 font-size: 24px;
 color: #00a;
}

.nightMode .title {
    color: #ff4
}

.overview {
 color: #222;
}

.nightMode .overview {
 color: #ddd;
}
